//@import url(../fonts/font-awesome-4.7.0/less/font-awesome.less);
@import url(../fonts/font-awesome-4.7.0/css/font-awesome.css);

@font-face {
  font-family: 'RFDewiExpanded';
  src: url('../fonts/RFDewiExpanded-Bold.eot');
  src: local('RF Dewi Expanded Bold'), local('../fonts/RFDewiExpanded-Bold'),
  url('../fonts/RFDewiExpanded-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RFDewiExpanded-Bold.woff2') format('woff2'),
  url('../fonts/RFDewiExpanded-Bold.woff') format('woff'),
  url('../fonts/RFDewiExpanded-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RFDewiExpanded';
  src: url('../fonts/RFDewiExpanded-Semibold.eot');
  src: local('RF Dewi Expanded Semibold'), local('../fonts/RFDewiExpanded-Semibold'),
  url('../fonts/RFDewiExpanded-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RFDewiExpanded-Semibold.woff2') format('woff2'),
  url('../fonts/RFDewiExpanded-Semibold.woff') format('woff'),
  url('../fonts/RFDewiExpanded-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RFDewiExpanded';
  src: url('../fonts/RFDewiExpanded-Regular.eot');
  src: local('RF Dewi Expanded Regular'), local('../fonts/RFDewiExpanded-Regular'),
  url('../fonts/RFDewiExpanded-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RFDewiExpanded-Regular.woff2') format('woff2'),
  url('../fonts/RFDewiExpanded-Regular.woff') format('woff'),
  url('../fonts/RFDewiExpanded-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}